.title {
    display: flex;
    justify-content: center;
    background-color: #379683;
    color: #05386b;
    margin: auto;
    padding-top: 20px;
    font-size: 50px;
    border-radius: 30px 30px 0px 0px;
    margin-bottom: 10px;
    text-align: center;
}
body {
    margin: auto;
}

.pickButton {
    position: relative;
    font-weight: 900;
    font-size: 30px;
    margin-top: 10px;
    display: block;
    background-color: #8ee4af;
    width: 100%;
    padding: 20px;
    box-shadow: 0 6px #5cdb95;
    border: none;
    color: #05386b;
    letter-spacing: 2px;
}

.pickButton:hover {
    top: 2px;
    box-shadow: 0 4px #5cdb95;
}

.pickButton:active {
    top: 4px;
    margin-right: 5px;
    display: block;
    background-color: #8ee4af;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 #05386b;
}